/* 颜色 */
:root {
	--anzhiyu-theme-op: #4259EF23;
	--anzhiyu-white: #FFF;
	--anzhiyu-black: #000;
	--anzhiyu-none: rgb(0 0 0 / 0%);
	--anzhiyu-gray: #999;
	--anzhiyu-yellow: #FFC93E;
	--anzhiyu-border-radius: 8px;
	--anzhiyu-main: var(--anzhiyu-theme);
	--anzhiyu-main-op: var(--anzhiyu-theme-op);
	--anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
	--anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
	--anzhiyu-shadow-blue: 0 8px 12px -3px rgb(40 109 234 / 20%);
	--anzhiyu-shadow-white: 0 8px 12px -3px rgb(255 255 255 / 20%);
	--anzhiyu-shadow-black: 0 0 12px 4px rgb(0 0 0 / 5%);
	--anzhiyu-shadow-yellow: 0px 38px 77px -26px rgb(255 201 62 / 12%);
	--anzhiyu-shadow-red: 0 8px 12px -3px #EE7D7936;
	--anzhiyu-shadow-green: 0 8px 12px -3px #87EE7936;
	--anzhiyu-shadow-border: 0 8px 16px -4px #2C2D300C;
	--anzhiyu-logo-color: linear-gradient(215deg, #4584FF 30%, #FF7676 70%);
	--style-border: 1px solid var(--anzhiyu-card-border);
	--anzhiyu-blue-main: #3B70FC;
	--style-border-hover: 1px solid var(--anzhiyu-main);
	--style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
	--style-border-avatar: 4px solid var(--anzhiyu-background);
	--style-border-always: 1px solid var(--anzhiyu-card-border);
	--anzhiyu-white-acrylic1: #FEFEFF !important;
	--anzhiyu-white-acrylic2: #FCFDFF !important;
	--anzhiyu-black-acrylic2: #08080A !important;
	--anzhiyu-black-acrylic1: #0B0B0E !important;
}

.light, :root {
	--anzhiyu-theme: #3B70FC;
	--anzhiyu-theme-op: #4259EF23;
	--anzhiyu-blue: #3B70FC;
	--anzhiyu-red: #D8213C;
	--anzhiyu-pink: #FF7C7C;
	--anzhiyu-green: #57BD6A;
	--anzhiyu-fontcolor: #363636;
	--anzhiyu-background: #F7F9FE;
	--anzhiyu-reverse: #000;
	--anzhiyu-maskbg: rgb(255 255 255 / 60%);
	--anzhiyu-maskbgdeep: rgb(255 255 255 / 85%);
	--anzhiyu-hovertext: var(--anzhiyu-theme);
	--anzhiyu-ahoverbg: #F7F7FA;
	--anzhiyu-lighttext: var(--anzhiyu-main);
	--anzhiyu-secondtext: rgb(60 60 67 / 60%);
	--anzhiyu-scrollbar: rgb(60 60 67 / 40%);
	--anzhiyu-card-btn-bg: #EDF0F7;
	--anzhiyu-post-blockquote-bg: #FAFCFF;
	--anzhiyu-post-tabs-bg: #F2F5F8;
	--anzhiyu-secondbg: #EDF0F7;
	--anzhiyu-shadow-nav: 0 5px 12px -5px rgb(102 68 68 / 5%);
	--anzhiyu-card-bg: #FFF;
	--anzhiyu-shadow-lightblack: 0 5px 12px -5px rgb(102 68 68 / 0%);
	--anzhiyu-shadow-light2black: 0 5px 12px -5px rgb(102 68 68 / 0%);
	--anzhiyu-card-border: #C0C6D8;
}

.dark {
	--anzhiyu-theme: #0084FF;
	--anzhiyu-theme-op: #0084FF23;
	--anzhiyu-blue: #0084FF;
	--anzhiyu-red: #FF3842;
	--anzhiyu-pink: #FF7C7C;
	--anzhiyu-green: #57BD6A;
	--anzhiyu-fontcolor: #F7F7FA;
	--anzhiyu-background: #18171D;
	--anzhiyu-reverse: #FFF;
	--anzhiyu-maskbg: rgb(0 0 0 / 60%);
	--anzhiyu-maskbgdeep: rgb(0 0 0 / 85%);
	--anzhiyu-hovertext: #0A84FF;
	--anzhiyu-ahoverbg: #FFF;
	--anzhiyu-lighttext: #F2B94B;
	--anzhiyu-secondtext: #A1A2B8;
	--anzhiyu-scrollbar: rgb(200 200 223 / 40%);
	--anzhiyu-card-btn-bg: #30343F;
	--anzhiyu-post-blockquote-bg: #000;
	--anzhiyu-post-tabs-bg: #121212;
	--anzhiyu-secondbg: #30343F;
	--anzhiyu-shadow-nav: 0 5px 20px 0px rgb(28 28 28 / 40%);
	--anzhiyu-card-bg: #1D1B26;
	--anzhiyu-shadow-lightblack: 0 5px 12px -5px rgb(102 68 68 / 0%);
	--anzhiyu-shadow-light2black: 0 5px 12px -5px rgb(102 68 68 / 0%);
	--anzhiyu-card-border: #42444A;
}

/* 友链顶部轮播美化 */
.banners-title-small {
	margin-top: 8px;
	margin-bottom: 0.5rem;
	font-size: 12px;
	line-height: 1;
	color: var(--anzhiyu-secondtext);
}

.banners-title-big {
	margin-bottom: 8px;
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
}

#flink-banners .banner-button-group .banner-button i {
	margin-right: 8px !important;
	font-size: 1rem;
}

#flink-banners {
	display: -webkit-box;
	display: -moz-box;
	display: flex;
	display: flexbox;
	display: flex;
	display: flex;
	flex-direction: column;
	flex-direction: column;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	height: 76%;
	margin: 1rem;
	padding: 1.5rem;
	border: var(--style-border);
	border-radius: 12px;
	box-shadow: var(--anzhiyu-shadow-border);
	box-shadow: var(--anzhiyu-shadow-border);
	background: var(--anzhiyu-card-bg);
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
	animation: slide-in 0.6s 0.2s backwards;
	animation: slide-in 0.6s 0.2s backwards;
	animation: slide-in 0.6s 0.2s backwards;
	animation: slide-in 0.6s 0.2s backwards;
	animation: slide-in 0.6s 0.2s backwards;
	will-change: transform;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
}

#flink-banners .banner-top-box {
	display: -webkit-box;
	display: -moz-box;
	display: flex;
	display: flexbox;
	display: flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	align-items: center;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-o-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	justify-content: space-between;
}

#flink-banners .banner-button-group {
	display: -webkit-box;
	display: -moz-box;
	display: flex;
	display: flexbox;
	display: flex;
	display: flex;
	position: absolute;
	top: 2.5rem;
	right: 2rem;
}

#flink-banners .banner-button-group .banner-button.secondary {
	color: var(--anzhiyu-fontcolor);
}

#flink-banners .banner-button-group .banner-button {
	color: var(--anzhiyu-card-bg);
}

#article-container a {
	color: var(--anzhiyu-fontcolor);
}

.banner-button.secondary {
	margin-right: 1rem;
	border: var(--style-border-always);
	box-shadow: var(--anzhiyu-shadow-border);
	box-shadow: var(--anzhiyu-shadow-border);
	background: var(--anzhiyu-secondbg);
	color: var(--anzhiyu-lighttext);
}

.banner-button {
	display: -webkit-box;
	display: -moz-box;
	display: flex;
	display: flexbox;
	display: flex;
	display: flex;
	align-items: center;
	align-items: center;
	padding: 8px 12px;
	border-radius: 12px;
	box-shadow: var(--anzhiyu-shadow-black);
	box-shadow: var(--anzhiyu-shadow-black);
	background: var(--anzhiyu-fontcolor);
	color: var(--anzhiyu-card-bg);
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
	z-index: 1;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
}

#flink-banners .banner-button-group .banner-button i {
	margin-right: 8px;
	font-size: 1rem;
}

#skills-tags-group-all {
	display: flex;
	transform: rotate(0);
	transition: 0.3s;
}

#flink-banners #skills-tags-group-all .tags-group-wrapper {
	animation: rowup 120s linear infinite;
	animation: rowup 120s linear infinite;
	animation: rowup 120s linear infinite;
	animation: rowup 120s linear infinite;
	animation: rowup 120s linear infinite;
}

#skills-tags-group-all .tags-group-wrapper {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 40px;
	animation: rowup 60s linear infinite;
}

#flink-banners #skills-tags-group-all .tags-group-wrapper {
	animation: rowup 120s linear infinite;
	animation: rowup 120s linear infinite;
	animation: rowup 120s linear infinite;
	animation: rowup 120s linear infinite;
	animation: rowup 120s linear infinite;
}

#skills-tags-group-all .tags-group-wrapper {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 40px;
	animation: rowup 60s linear infinite;
}

#flink-banners #skills-tags-group-all .tags-group-icon {
	border-radius: 50%;
}

#skills-tags-group-all .tags-group-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 120px;
	border-radius: 30px;
	box-shadow: var(--anzhiyu-shadow-blackdeep);
	font-size: 66px;
	font-weight: 700;
	color: #FFF;
}

#flink-banners #skills-tags-group-all .tags-group-icon img {
	min-width: 100%;
	min-height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

[data-theme="dark"] #skills-tags-group-all .tags-group-icon img {
	filter: none;
}

#skills-tags-group-all .tags-group-icon img {
	min-width: 100%;
	min-height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

#article-container img {
	display: block;
	max-width: 100%;
	margin: 0 auto 20px;
	border-radius: 8px;
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
}

#flink-banners #skills-tags-group-all .img-alt {
	display: none;
}

.img-alt {
	margin: 0;
	margin-top: 8px;
	font-size: 12px;
	color: var(--anzhiyu-secondtext);
}

.is-center {
	text-align: center;
}

#flink-banners #skills-tags-group-all .tags-group-icon {
	border-radius: 50%;
}

#skills-tags-group-all .tags-group-icon-pair .tags-group-icon:nth-child(even) {
	margin-top: 1rem;
	transform: translate(-60px);
}

#skills-tags-group-all .tags-group-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 120px;
	border-radius: 30px;
	box-shadow: var(--anzhiyu-shadow-blackdeep);
	font-size: 66px;
	font-weight: 700;
	color: #FFF;
}


/* 动画效果 */
@keyframes rowup {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}
